/* ===== Color Variables ===== */
:root{
    --color1: #17468A;
    --color2: #4C8DCA;
    --color3: #78E5EB;
    /* --color4: #F5F0F2; */
    --color4: #F0F0F0;
    --color5: #DBD7D9;    
    --color-alert: #E12D53;
}
/* =====^^^ Color Variables ^^^===== */


*{
    font-family: 'Montserrat', sans-serif;
}

.background{
    background-color: var(--color4);
    padding: 0;
    z-index: 0 !important;
    /* min-height: 98.5vh; */
} 


/* ===== Navigation Bar ===== */
.navbar{
    padding-bottom: 0;
}

.navbar-nav li{
    font-size: 1.1rem;
    font-weight: 800;
}

.bg-light {
    background: rgba(248,249,250,0) !important;
    background: -moz-linear-gradient(top, rgba(248,249,250,0) 0%, rgba(192,192,193,1) 25%, rgba(168,168,168,1) 50%, rgba(192,192,193,1) 75%, rgba(248,249,250,0) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,249,250,0)), color-stop(25%, rgba(192,192,193,1)), color-stop(50%, rgba(168,168,168,1)), color-stop(75%, rgba(192,192,193,1)), color-stop(100%, rgba(248,249,250,0))) !important;
    background: -webkit-linear-gradient(top, rgba(248,249,250,0) 0%, rgba(192,192,193,1) 25%, rgba(168,168,168,1) 50%, rgba(192,192,193,1) 75%, rgba(248,249,250,0) 100%) !important;
    background: -o-linear-gradient(top, rgba(248,249,250,0) 0%, rgba(192,192,193,1) 25%, rgba(168,168,168,1) 50%, rgba(192,192,193,1) 75%, rgba(248,249,250,0) 100%) !important;
    background: -ms-linear-gradient(top, rgba(248,249,250,0) 0%, rgba(192,192,193,1) 25%, rgba(168,168,168,1) 50%, rgba(192,192,193,1) 75%, rgba(248,249,250,0) 100%) !important;
    background: linear-gradient(to bottom, rgba(248,249,250,0) 0%, rgba(192,192,193,1) 25%, rgba(168,168,168,1) 50%, rgba(192,192,193,1) 75%, rgba(248,249,250,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#f8f9fa', GradientType=0 ) !important;
}
/* =====^^^ Navigation Bar ^^^===== */

/* ===== Main Content ===== */
    #mainImg{
    height: 80vh;
    background-image: url('../assets/mattress-scale2.png');
    position: relative;
    opacity: 0.95;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0 !important;
    animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s; 
    }

    #mainImg .imgText{
        z-index: 90 !important;
        max-height: 160px;
        position: relative;
        /* top: -78vh; */
        font-family: 'Dancing Script', cursive;
        color: var(--color4);
        text-shadow: 4px 4px 15px #000000;
        padding: 10% 5% 0 5%;
    }

    #mainImg .imgText h2{
        font-size: 4rem;
    }

    #mainImg .imgText h4{
        font-size: 2.1rem;
        padding-top: 5%;
        padding-left: 2%;
    }



    #mainImg .imgText {
        animation: titleFadeIn 1.5s;
        -moz-animation: titleFadeIn 1.5s;
        -webkit-animation: titleFadeIn 1.5s;
        -o-animation: titleFadeIn 1.5s; 
    }
    @keyframes titleFadeIn {
        from {
            top:-20px;
            opacity:0;
            color: #272727;
        }
        to {
            top: 0;
            opacity:1;
            color: var(--color4);            
        }
    }
    @-moz-keyframes titleFadeIn { /* Firefox */
        from {
            top:-20px;
            opacity:0;
            color: #272727;
        }
        to {
            top: 0;
            opacity:1;
            color: var(--color4);            
        }
    }
    @-webkit-keyframes titleFadeIn { /* Safari and Chrome */
        from {
            top:-20px;
            opacity:0;
            color: #272727;
        }
        to {
            top: 0;
            opacity:1;
            color: var(--color4);            
        }
    }
    @-o-keyframes titleFadeIn { /* Opera */
        from {
            top:-20px;
            opacity:0;
            color: #272727;
        }
        to {
            top: 0;
            opacity:1;
            color: var(--color4);            
        }
    }


/* =====^^^ Main Content ^^^===== */
    
.sectionTitle{
    text-align: center;
    /* text-decoration: underline; */
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* ===== Mattress Collection ===== */
    #beds{
        padding-top: 2rem;
        margin-bottom: 4rem;    
        animation: fadeIn 2.5s;
        -moz-animation: fadeIn 2.5s;
        -webkit-animation: fadeIn 2.5s;
        -o-animation: fadeIn 2.5s; 
    }

    /* #beds .collectionTitle h2{
        font-size: 2rem;
    } */

    #beds .mattCollection{
        text-align: center;
        margin-bottom: 20px;
        padding: 0 5%;
    }

    .mattCollection img{
        width: 100%;
    }

    .mattCollection:last-of-type{
        padding-bottom: 25px;
    }

    figure:hover img, figure:hover figcaption{
        filter: blur(2px);
        cursor: pointer;
    }

    figure .clickMe{
        visibility: hidden;
        height: 0;
    }

    figure:hover .clickMe{
        visibility: visible;
        filter: blur(0);
        position: relative;
        top: -60%;
        font-size: 1.3rem;
        color: #f2f2f2;
        text-shadow: 3px 3px 3px #111111;
    }
   
/* =====^^^ Mattress Collection ^^^===== */


/* ========== Mattress Tips ========== */
    #mattressTips{
        padding: 0 4rem;
        margin-bottom: 3rem;
        animation: fadeIn 2s;
        -moz-animation: fadeIn 2s; /* Firefox */
        -webkit-animation: fadeIn 2s; /* Safari and Chrome */
        -o-animation: fadeIn 2s; /* Opera */
    }

    #mattressTips .mattressTips h5{
        font-size: 1.15rem;
        text-align: center;
        margin-bottom: 1rem;    
    }

    #mattressTips .mattressTips ul{
        /* margin-bottom: 3rem; */
        padding-left: 5px;
        text-align: justify;   
    }

    #mattressTips .mattressTips ul li{
        font-size: .9rem;
        margin-top: .5em;
    }
/* ==========^^^ Mattress Tips ^^^========== */


/* ========== About Us ========== */
    #aboutUs{
        padding: 0 4rem;
        text-align: justify;
        /* margin-bottom: 4rem;         */
        margin-bottom: -0.5px;
        animation: fadeIn 2s;
        -moz-animation: fadeIn 2s; /* Firefox */
        -webkit-animation: fadeIn 2s; /* Safari and Chrome */
        -o-animation: fadeIn 2s; /* Opera */
    }

    #aboutUs .aboutUs p{
        font-size: .9rem;
    }
/* ==========^^^ About Us ^^^========== */


/* ============ Triange Divider ============ */
    .divider{
        height: 5rem;
        display: flex;
        background-color: var(--color5);
        position: relative;
        /* top: -1.5px; */
    }

    .divider svg{
        /* color: var(--color4); */
    }

    .divider polygon{
        fill: var(--color4);
        stroke: var(--color4);
        stroke-width:0;
    }


/* ==========^^^ Triange Divider ^^^========== */


/* ============ Contact Us ============ */
    #contactUs{
        padding: 1.5rem 4rem 0;
        background-color: var(--color5);
        position: relative;
        /* top: -1.5px; */
    }

    #contactUs .sectionTitle h2{
        position: relative;
        right: 5px;
    }

    #contactUs .sectionTitle h2 a{
        position: relative;
        top: -2px;
        margin-left: 10px;
    }
    
    #contactUs .contactInfo{
        text-align: center;
    }
    
    #contactUs .contactInfo h5{
        text-decoration: underline;
        margin-bottom: .7rem;    
    }


    #contactUs .contactInfo p{
        margin-bottom: .2rem;
    }

    #contactUs .contactInfo .emailUs{
        margin-bottom: .3rem;
        position: relative;
        top: 1rem;
    }

    #contactUs .contactInfo button{
        position: relative;
        left: calc(50% - 50px);
        width: auto;
        transition: transform 300ms;
    }

    #contactUs .contactInfo .hide{
        display: none;
        position: relative;
        left: calc(50% - 90px);        
        top: -50px;
        height: 65px;
        margin-bottom: -65px;
        width: 180px;
    }

    .emailUsBtn{
        left: calc(50% - 75px) !important;
        width: 150px !important;
        top: -25px;
        /* height: 65px;         */
        transform: scale(1.2);
        font-size: .9rem;
    }

    #contactUs iframe{
        height: 25rem;
        margin-top: 1rem;        
        margin-bottom: 2.5rem;    
        padding: 0;
        border: 1px solid #cccccc;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
    }
/* ==========^^^ Contact Us ^^^========== */


/* ===== Back To Top Button ===== */
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 35px;
        right: 25px;
        display:none;
        z-index: 999;
        background-color: #F5F0F2;
        box-shadow: 5px 6px 25px 1px rgba(0,0,0,0.65);
        -webkit-box-shadow: 5px 6px 25px 1px rgba(0,0,0,0.65);
        -moz-box-shadow: 5px 6px 25px 1px rgba(0,0,0,0.65);
        border: none;
        padding: 10px 14px;
        border-radius: 36px 36px 36px 36px;
        -moz-border-radius: 36px 36px 36px 36px;
        -webkit-border-radius: 36px 36px 36px 36px;
    }
/* ==========^^^ Back To Top Button ^^^========== */


/* ===== Mattress Modal ===== */
    #mattressModal .modal-header h4{
        width: 100%;
        text-align: center;
    }

    #mattressModal .modalTop{
        display: flex;
        justify-content: space-around;
        margin: 0 10px;
    }

    #mattressModal .modalTop ul li:last-child{
        margin-bottom: 0;
    }

    #mattressModal .modalTop ul{
        padding-left: 20px;
        margin-bottom: 8px;    
    }

    #mattressModal .modalTop ul li{
        margin-bottom: 10px;
        font-size: 1rem;    
    }

    #mattressModal table{
        font-size: .8rem;
    }

    #mattressModal table tr td:first-of-type{
        min-width: 200px;
    }

    #mattressModal .modal-footer{
        padding-top: 5px;    
    }

    #mattressModal .modal-footer p{
        font-size: .55em;
        text-align: justify;
        margin: 0 3% 0 2.5%;
    }

    #mattressModal .modalTop img{
        width: 100%;
        height: 100%;
    }
/* =====^^^ Mattress Modal ^^^===== */



/* ===== SB Footer ===== */
    #ABFooter{
        /* height: 45px; */
        margin: 0;
        /* padding-top: 10px; */

        background: rgba(219,215,217,1);
        background: -moz-linear-gradient(top, rgba(219,215,217,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,215,217,1)), color-stop(8%, rgba(0,0,0,1)), color-stop(9%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(219,215,217,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(219,215,217,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(219,215,217,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(219,215,217,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbd7d9', endColorstr='#000000', GradientType=0 );
        


        color: var(--color5);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
    }

    #ABFooter p{
        margin-top: 20px;
    }

    #ABFooter a{
        color: var(--color4);        
    }


/* =====^^^ SB Footer ^^^===== */







/* ===== Fade In Animation ===== */

    @keyframes fadeIn {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadeIn { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadeIn { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadeIn { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

/* =====^^^ Fade In Animation ^^^===== */








@media (max-width: 991.98px) {
    .navbar-brand img{
        height: 115px;
        margin-top: 1px;
        margin-bottom: 5px;
    }

    #navbarNav{
        background-color: #000000;
        opacity: .85;
        z-index: 9999 !important;
        position: absolute;
        top: 107%;
        /* top: 137px; */
        left: 5px;
        width: 65%;
        border-radius: 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    }

    .navbar-nav li a{
        margin-left: 25px;
        color: #ffffff !important;
    }

    #beds{
        margin-bottom: 2rem;        
    }
    
    #mattressTips{
        margin-bottom: 2rem;        
    }
    
    #mainImg .imgText{
        padding: 15% 5% 0 5%;
    }
    
    #mainImg .imgText h2{
        font-size: 4rem;
    }
    
    #mainImg .imgText h4{
        font-size: 2.1rem;
        padding-top: 5%;
        padding-left: 2%;
    }
    
    .sectionTitle h2{
        font-size: 1.7rem;
    }
    
    figcaption{
        font-size: .66rem;
    }

    #mattressModal .modal-footer p{
        margin: 2% 3% 2% 2.5%;
        font-size: .45em;    
        max-width: 90vw;    
    }

    #aboutUs .aboutUs h5{
        font-size: 1rem;                
    }

    .divider{
        height: 2rem;
    }
    
    #contactUs .contactInfo h5{
        font-size: 1rem;   
    }

    #contactUs .contactInfo p{
        margin-bottom: .9rem;
        font-size: .8rem;
    }

    #contactUs .contactInfo .emailUs{
        top: 0;
        font-size: 1rem;    
    }

    #contactUs iframe{
        height: 15rem;
    }
}


@media(max-width: 767.98px){
    .modalTop ul li{
        font-size: .8rem;    
    }  
}
    
    
@media (max-width: 576px) {
    .navbar-brand img{
        height: 88px;
    }
    
    #mainImg{
        max-height: 40vh;
        background-attachment: scroll;

    }
    
    #mainImg .imgText h2{
        font-size: 2rem;
        font-weight: 100;
    }
    
    #mainImg .imgText h4{
        font-size: 1.2rem;
        font-weight: 100;
    }
    
    #beds .mattCollection{
       padding: 0 3%;
    }

    figure:hover .clickMe{
        visibility: hidden;
    }
    
    #ABFooter{
        font-size: .6rem;
        background: #000000;
    }
}
